<div style="padding: 13px;">
    <mat-spinner *ngIf="applications.length === 0"></mat-spinner>

    <mat-card *ngFor="let application of applications" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{application.name}}</mat-card-title>
            <mat-card-subtitle>{{application.owner}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{application.description}}
            </p>
            <img style="height:100%; width: 100%;" src="{{ application.imageUrl }}" />
        </mat-card-content>
        <mat-card-actions>
            <button mat-button> Buy product</button>
        </mat-card-actions>
    </mat-card>
</div>